*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 
    height: 100vh; 

  
}

.container {
    border: 3px solid black;
    background-color: black;
    height: 60vh;
    width: fit-content;
    border-radius: 15%;
    padding: 10px 15px;
  

}

.top-row {
    padding: 30px; 
}

.op-container {
    display: grid;
    row-gap: 5px;

}

button {
    display: inline-block; 
    padding: 20px; 
    border-radius: 50%;
    background-color: rgb(49, 49, 49);
    color: white; 
    width: 60px;
    
 
}

#result-bar {
    
    height: 50px;
    border-radius: 5%;
    background-color: gray;
    color: white;
    border: 2px solid beige; 
    margin: auto;
    font-size: 32px;
    text-align: right;
    padding: 5px 3px 0 0;
}

#result-bar > p {
    display: inline;
}

.clear-btn, .divide-btn, .multiply-btn, .equal-btn, .minus-btn, .add-btn {
    background-color: orange;
}