*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 
    height: 100vh; 

  
}

.container {
    border: 3px solid black;
    background-color: black;
    height: 62vh;
    width: fit-content;
    border-radius: 65px;
    padding: 10px 15px;
    border : 8px solid white; 
  

}

.top-row {
    padding: 30px; 
}

.op-container {
    display: grid;
    row-gap: 5px;

}

button {
    display: inline-block; 
    padding: 20px; 
    border-radius: 50%;
    background-color: rgb(49, 49, 49);
    color: white; 
    width: 60px;
    
 
}

#result-bar {
    
    height: 50px;
    border-radius: 5%;
    background-color: black;
    color: white;
    border: 2px solid beige; 
    margin: auto;
    font-size: 32px;
    text-align: right;
    padding: 5px 3px 0 0;
}

#result-bar > p {
    display: inline;
}

.operator, .equal {
    background-color: orange;
}

.operator, .equal {
    font-size:  20px;
    padding : 16px; 

}

.clear {
    background-color:  #005aaf;
    border-radius: 25px;
    width : 49%;
}

.zero {
    width : 49%; 
    border-radius: 25px;
}